# Файл с переменными окружения
.env

# Файл сессии Telethon
anon.session

# Папка с данными парсеров
data/

# Дополнительные исключения для Python
__pycache__/
*.py[cod]
*$py.class

# Исключения для IDE
.idea/
.vscode/
*.swp
*.swo

# Логи и временные файлы
*.log
*.tmp
*.bak